---
---

@import "{{ site.theme }}";
footer {
  width: 100%;
  position: static !important;
}
section {
  margin-top: 2rem;
  width: auto;
  float: none;
}
header {
  width: 100%;
  position: static !important;
}
nav {
  width: auto;
  position: static !important;
}

.form-control:focus {
  outline: 0 !important;
  border-color: initial;
  box-shadow: none;
}

#questions {
  margin-top: 1rem;
}

a {
  color: #dc3545;
}
a:hover {
  color: #dc3545;
}
a:active {
  color: #dc3545;
}
a:visited {
  color: #dc3545;
}


table {
  width: auto;
  border: 1px solid #e5e5e5;

  th {
    font-weight: bold;
    text-align: center;
    background-color: rgba(0, 0, 0, .05);
    border-color: #fff;
  }

  .subheader {
    text-align: center;
    font-variant: small-caps;
    font-weight: bold;
  }

  .extra {
    display: inline;
  }

  .result {
    text-align: center;
  }

  .text {
    display: block;
  }

  .symbol {
    display: none;
  }
}



.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #dc3545;
}

input:focus + .slider {
  box-shadow: 0 0 1px #dc3545;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}









.filter-btn {
  border: none;
  outline: none;
  background-color: #f1f1f1;
  cursor: pointer;
  font-size: small;
  margin: .2rem .2rem;
}

.filter-btn:hover {
  background-color: #ddd;
}

.filter-btn:focus {
  outline: none;
  box-shadow: none;
}

.filter-btn.active {
  background-color: #666;
  color: white;
}

.hidden {
  display: none;
}